
<div class="card-deck">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="width: 18rem;">
      <%= cl_image_tag cocktail.photo, height: 300, width: 400, crop: :fill, class: "card-img-top" %>
      <div class="card-body">
        <h4 class="card-title"><%= cocktail.name %></h4>

        <p><%= cocktail.dose_first.description %> :: <%= cocktail.dose_first.ingredient.name %> ...</p>

        <%= link_to "Details", cocktail_path(cocktail), class: "btn btn-primary"  %>
      </div>
    </div>
  </div>
</div>
</div>

