<div class="container">
  <div class="wrapper card">
    <div class="row justify-content-center mb-5">
      <div class="col-6">
        <h2><%= @cocktail.name %></h2>
        <%= cl_image_tag @cocktail.photo, class: "card-img-top rounded", height: 250, width: 400, crop: :fill %>

        <div class="container-fluid card-body">
          <% @cocktail.doses.each do |dose| %>
            <span class="p-2 m-2"><h3><%= dose.ingredient.name %></h3></span>
            <%= link_to dose_path(dose), class: "mt-3 text-warning", method: :delete, data: { confirm: "Really?"} do %>
             <h4><i class="fas fa-trash"></i></h4>
            <% end %>
          <% end %>
        </div>

        <div class="row d-flex mt-3">
          <div class="mx-3">
            <%= link_to "home", root_path,class: "btn btn-primary" %>
          </div>
          <div class="">
            <%= link_to "Add a Dose", new_cocktail_dose_path(@cocktail),class: "btn btn-success"  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
